@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
html {
    font-size: 62.5%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #666;
    font-family: 'Lato', sans-serif;
}
#header {
    width: 100%;
    height: 11rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 0.8rem 0.6rem -0.6rem black;
}
#header .logo>img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
#header nav>ul {
    display: flex;
    margin: 0;
}
#header nav>ul>li {
    list-style: none;
}
#header nav>ul>li>a {
    display: inline-block;
    padding: 0px 2rem;
    font-size: 1.8rem;
    color: #222;
    text-transform: uppercase;
    text-decoration: none;
}
#header nav>ul>li>a:hover {
    color: #1db4c1;
    text-decoration: none;
}
/* DỊCH VỤ */
#about {
    width: 100%;
    display: flex;
    padding: 4rem 10rem;
}
#about .about__content {
    width: 50%;
}
#about .about__img {
    width: 50%;
}
.about__content h3 {
    font-size: 1.6rem;
    line-height:4rem;
}
.about__content h2 {
    font-size: 3rem;
    color: #f53e2d;
    line-height: 6rem;
}
.about__content p {
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    line-height: 3rem;
}
#about .wrapper {
    width: 100%;
    display: flex;
}
#about .wrapper .start_count {
    width: 30%;
}
.wrapper .start_count .start_count_wrapper {
    text-align: center;
    font-size: 5rem;
    font-weight: 500;
    color: #2d88ff;
}
.wrapper .start_count .start_wrapper {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
}

/* CSS SERVICES */

#services {
    padding: 40px;
}
#services h2 {
    text-align: center;
    color: #fd7e14;
    font-size: 3rem;
}
.services-container {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.services-container>.services-content {
    width: 25%;
    padding: 1rem;
}
.services-content>img {
    width: 100%;
    border-radius: 0.5rem;
    border: 0.1rem solid #ccc;
    box-shadow: 0.2rem 0.2rem 0.7rem red;
}
.services-content h3 {
    margin: 1.5rem 0;
    text-align: center;
    font-size: 2rem;
    color: #337ab7;
}
.services-content p {
    text-align: center;
    font-size: 1.8rem;
}

#bienphap {
    border-top: 1px solid #ccc;
    padding: 4rem 5rem;
}
#bienphap h2 {
    color: #fd7e14;
    font-size: 3rem;
}
#bienphap .row .col-md-12 p {
    font-size: 1.8rem;
    margin-top: 1rem;
}

/* Chuyên gia */
#chuyengia {
    background-color: #f6f8f9;
    border-top: 1px solid #ccc;
}
#chuyengia .row{
    padding: 4rem 5rem;
}
#chuyengia .row .col-md-4 h3 {
    font-size: 1.6rem;
}
#chuyengia .row .col-md-4 h2 {
    font-size: 2rem;
    color: #fd7e14;
    margin-top: 1rem;
}
#chuyengia .row .col-md-8 p {
    font-size: 1.8rem;
}
#chuyengia .row .col-md-4 {
    width: 100%;
}
#chuyengia .row .col-md-4 img {
    width: 100%;
    height: auto;
    border-radius: 2rem;  
}
#chuyengia .row .col-md-4 h3 {
    text-align: center;
    font-size: 1.8rem;
    margin-top: 2rem;
}
/* CSS PHẦN FOOTER */
#footer {
    background-color: #110b40;
}
#footer .row {
    padding: 4rem 5rem;
}
.row .col-md-3 .img-home{
    display: block;
}
.row .col-md-3 a>img {
    width: 100%;
}
.row .col-md-3>p {
    margin-top: 1rem;
    font-size: 1.6rem;
    color: #ccc;
}
.row .col-md-3 .icon {
    width: 5rem;
    font-size: 3rem;
    margin-right: 1rem;
    color: #fff;
}
.row .col-md-3 .icon-contact {
    font-size: 2rem;
    color: #fff;
}
#footer .row .col-md-3>h2 {
    font-size: 1.8rem;
    color: #fd7e14;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 3.1rem;
}
#footer .row .quick_link>a {
    display: block;
    font-size: 1.6rem;
    margin: 0.5rem 0;
    text-decoration: none;
    color: #ccc;
}
#footer .row .quick_link>a:hover {
    color: #337ab7;
}
.row .col-md-3 input[type="email"] {
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    border: 0.1rem solid #e5ae58;
    border-radius: 0.5rem;
    outline: none;
}
.row .col-md-3 textarea {
    width: 100%;
    padding: 1rem;
    margin: 2rem 0;
    height: 8rem;
    font-size: 1.6rem;
    border: 0.1rem solid #e5ae58;
    border-radius: 0.5rem;
    outline: none;
}
.row .col-md-3 .btn {
    width: 10rem;
    padding: 1rem 0;
    font-size: 1.6rem;
}
.row .col-md-3 .btn:hover {
    background-color: #f53e2d;
    color: #000;
}
/* THE END */
.the-end {
    width: 100%;
    height: 4rem;
    background-color: #ccc;
}
.the-end h2 {
    font-size: 1.6rem;
    color: #222;
    text-align: center;
    line-height: 4rem;
}





