@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
html {
    font-size: 62.5%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #222;
    font-family: 'Lato', sans-serif;
}
#header {
    width: 100%;
    height: 11rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 8px 6px -6px black;
}
#header .logo>img {
    width: 100%;
    height: auto;
    cursor: pointer;
}
#header nav>ul {
    display: flex;
    margin: 0;
}
#header nav>ul>li {
    list-style: none;
}
#header nav>ul>li>a {
    display: inline-block;
    padding: 0px 2rem;
    font-size: 1.8rem;
    color: #222;
    text-transform: uppercase;
    text-decoration: none;
}
#header nav>ul>li>a:hover {
    color: #1db4c1;
    text-decoration: none;
}
/* ABOUT */
#about{
    padding: 4rem 5rem;
}
.col-md-7>h2 {
    font-size: 3rem;
    color: #f53e2d;
    letter-spacing: 0.1rem;
}
.col-md-7>p {
    font-size: 1.8rem;
    color: #222;
    letter-spacing: 1px;
}
.col-md-5>img { 
    width: 100%;
    height: 90%;
}
/* SỨ MÊNH */
#mission .row{
    padding: 4rem 5rem;
    margin: 0 5rem;
}
#mission .row .col-md-6 h2 {
    font-size: 3rem;
    color: #f53e2d;
}
#mission .row .col-md-6 p {
    font-size: 1.8rem;
    margin: 1rem 0;
    letter-spacing: 1px;
}
#mission .row .col-md-6 img {
    width: 100%;
    height: auto;
    border: 1px solid #e5ae58;
    border-radius: 1rem;
}
/* Mục tiêu */
#muctieu {
    padding: 4rem 5rem;
    margin: 0 5rem;
}
#muctieu h2 {
   font-size: 3rem;
   color: #f53e2d;
}
#muctieu .row .col-md-12 p {
    font-size: 1.8rem;
    letter-spacing: 1px;
}
/* Hoạt động */
#hoatdong {
    padding: 0rem 10rem 4rem;
}
#hoatdong .row .col-md-12 h2 {
    font-size: 3rem;
    color: #f53e2d;
}
#hoatdong .row .col-md-12 b {
    font-size: 1.8rem;
    color: #222;
}
#hoatdong .row .col-md-12 li {
    font-size: 1.8rem;
    margin: 1rem 0;
}

/* Cam kết */
#camket {
    padding: 2rem 5rem;
    margin: 0 5rem;
}
#camket .row .col-md-12 h2 {
    font-size: 3rem;
    color: #f53e2d;
}
#camket .row .col-md-12 p {
    font-size: 1.8rem;
}
/* CSS PHẦN FOOTER */
#footer {
    background-color: #110b40;
}
#footer .row {
    padding: 4rem 5rem;
}
.row .col-md-3 .img-home{
    display: block;
}
.row .col-md-3 a>img {
    width: 100%;
}
.row .col-md-3>p {
    margin-top: 1rem;
    font-size: 1.6rem;
    color: #ccc;
}
.row .col-md-3 .icon {
    width: 5rem;
    font-size: 3rem;
    margin-right: 1rem;
    color: #fff;
}
.row .col-md-3 .icon-contact {
    font-size: 2rem;
    color: #fff;
}
#footer .row .col-md-3>h2 {
    font-size: 1.8rem;
    color: #fd7e14;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 3.1rem;
}
#footer .row .quick_link>a {
    display: block;
    font-size: 1.6rem;
    margin: 0.5rem 0;
    text-decoration: none;
    color: #ccc;
}
#footer .row .quick_link>a:hover {
    color: #337ab7;
}
.row .col-md-3 input[type="email"] {
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    border: 0.1rem solid #e5ae58;
    border-radius: 0.5rem;
    outline: none;
}
.row .col-md-3 textarea {
    width: 100%;
    padding: 1rem;
    margin: 2rem 0;
    height: 8rem;
    font-size: 1.6rem;
    border: 0.1rem solid #e5ae58;
    border-radius: 0.5rem;
    outline: none;
}
.row .col-md-3 .btn {
    width: 10rem;
    padding: 1rem 0;
    font-size: 1.6rem;
}
.row .col-md-3 .btn:hover {
    background-color: #f53e2d;
    color: #000;
}
/* THE END */
.the-end {
    width: 100%;
    height: 4rem;
    background-color: #ccc;
}
.the-end h2 {
    font-size: 1.6rem;
    color: #222;
    text-align: center;
    line-height: 4rem;
}







