 @media only screen and (max-width: 768px) {
    #header {
        background-color: #ccc;
    }
    #header .logo>img {
        display: none;
    }
    #header nav>ul>li>a {
        font-size: 1rem;
        padding : 0 1rem;
        color: #222;
        text-align: center;
    }
    /* Banner */
    #banner .row .col-xs-12 .text-center{
        display: none;
    }
    /* About */
    #about .row .col-xs-12 .img1 {
        display: none;
    }
    #about .col-xs-12 h2 {
        font-size: 1.5rem;
    }
    #about .col-xs-12 p {
        font-size: 1.2rem;
    }
    /* Services */
    #services .row .col-xs-12 .text-center h2 span {
        font-size: 1.5rem;
    }
    #services .row .col-xs-12 .text-center h3 {
        font-size: 1.5rem;
        margin: 1rem 0;
    }
    #services .row .col-xs-12 .text-center p {
        font-size: 1.2rem;
    }
    /* Tu van */
    #tuvan .row .col-xs-12 strong,h2 {
        font-size: 1.5rem;
    }
    #tuvan .row .col-xs-12 p {
        font-size: 1.2rem;
    }
    #tuvan .row .col-xs-12 img {
        display: none;
    }
    /* Footer */
    #footer .row .col-xs-12 >img {
        width : 100%;
        height: auto;
    }
    #footer .row .col-xs-12 p {
        font-size: 1.2rem;
    }
    #footer .row .col-xs-12 .icon {
        font-size: 2rem;
        margin: 0rem;
    }
    #footer .row .quick_link {
        display: none;
    }
    #footer .row .col-xs-12 h2 {
        font-size : 1.5rem;
        margin: 1rem 0;
    }

    /* RESPOMSIVE TRANG GIỚI THIỆU */

    #about {
        padding: 2rem 4rem;
    }
    #mission .row{
        padding: 2rem;
        margin: 0;
    }
    #mission .row .col-xs-12 h2 {
        font-size: 2rem;
        color: #f53e2d;
        text-align: center;
    }
    #mission .row .col-xs-12 p {
        font-size: 1.2rem;
    }
    #muctieu {
        padding: 2rem;
        margin: 0;
    }
    #muctieu h2 {
        font-size: 2rem;
        color: #f53e2d;
        text-align: center;
    }
    #muctieu .row .col-xs-12 p {
        font-size: 1.2rem;
    }
    /* hoatdong */
    #hoatdong {
        padding: 2rem;
        margin: 0;
    }
    #hoatdong .row .col-xs-12 h2 {
        font-size: 2rem;
        color: #f53e2d;
        text-align: center;
    }
    #hoatdong .row .col-xs-12 b {
        font-size: 1.2rem;
    }
    #hoatdong .row .col-xs-12 li {
        font-size: 1.2rem;
    }
    /* camket */
    #camket {
        padding: 2rem;
        margin: 0;
    }
    #camket .row .col-md-12 h2 {
        font-size: 2rem;
        color: #f53e2d;
        text-align: center;
    }
    #camket .row .col-md-12 p {
        font-size: 1.2rem;
    }

    /* Responsive trang dịch vụ */
    #about {
        width: 100%;
        padding: 2rem;
    }
    #about .about__content {
        width : 100%;
    }
    #about .about__img {
        display: none;
    }
    .about__content h3 {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .about__content h2 {
        font-size: 2rem;
        line-height: 4rem;
    }
    .about__content p {
        font-size: 1.2rem;
        line-height: 2.4rem;
    }
    .wrapper .start_count .start_count_wrapper {
        font-size: 3rem;
        font-weight: 500;
    }
    .wrapper .start_count .start_wrapper {
        font-size: 1.2rem;
        margin-top: 1rem;
    }
    /* SERVICES */
    #services h2 {
        font-size: 2rem;
    }

    .services-container {
        margin-top: 2rem;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .services-container>.services-content {
        width: 100%;
        padding: 1rem;
    }

    .services-content p {
        text-align: center;
        font-size: 1.2rem;
    }
    /*  */
    #bienphap {
        padding: 2rem;
    }
    #bienphap h2 {
        text-align: center;
        font-size: 2rem;
    }
    #bienphap .row .col-xs-12 p {
        font-size: 1.2rem;
    }
    /*  */
    #chuyengia .row {
        padding: 2rem;
    }
    #chuyengia .row .col-xs-12 h3{
        font-size: 1.2rem;
    }
    #chuyengia .row .col-xs-12 h2{
        font-size: 2rem;
        text-align: left;
    }
    #chuyengia .row .col-xs-12 p {
        font-size: 1.2rem;
    }
}


